body {
    background-image: url(dog-background.jpg);
    background-size: cover;
}

#dogimage {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.center {
    text-align: center;
}

.textColor {
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
}

.labelColor {
    color: white;
    -webkit-text-stroke: 0.6px black !important;
    font-weight: bold;
}

.square {
    width: 720px;
    height: 395px;
    background-color: cyan;
    position: absolute;
    top: 25%;
    left: 25%;
    opacity: 75%;
}

.links {
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: large;
}